.images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.searchbar-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.history-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.125rem;
    color: rgb(181, 179, 179);
    background-color: rgb(56, 55, 55);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    transition: all 0.125s linear;
}

.history-btn:hover {
    color: rgb(194, 192, 192);
    filter: brightness(1.25);
    border-color: rgb(91, 90, 90);
}


.results-span {
    display: block;
    font-size: 1rem;
    margin-right: auto;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: left;
    font-weight: 600;
    color: rgb(150, 149, 149);
}